<div class="min-h-screen flex flex-col justify-between">
  <main class="max-w-[1600px] mx-auto">
    <h2 class="text-2xl font-bold text-center my-16">Enlist today!</h2>
    <div
      class="container-enlist flex flex-col mx-auto justify-center px-8 py-16 bg-lime-50"
    >
      <div class="flex justify-center items-center gap-44">
        <app-form-inputs></app-form-inputs>

        <div class="max-w-[350px]">
          <img src="mercenary.webp" alt="mercenary service image" />
        </div>
      </div>
    </div>

    <div class="container-products">
      <app-product-list></app-product-list>
    </div>
  </main>

  <app-footer></app-footer>
</div>
