@font-face {
  font-family: "ProtestGuerrillaRegular";
  src: url("../fonts/ProtestGuerrilla-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "FascinateInlineRegular";
  src: url("../fonts/FascinateInline-Regular.ttf");
  font-display: swap;
}
